<div class="dialog" [ngSwitch]="templateType">
    <button *ngIf="showCloseIcon"
            mat-dialog-close
            mat-button
            color="primary">
        <mat-icon>close</mat-icon>
    </button>

    <!-- component -->
    <ng-container *ngSwitchCase="'component'">
      <ng-container *ngComponentOutlet="dialogData.component"></ng-container>
    </ng-container>

    <!-- message -->
    <ng-container *ngSwitchCase="'message'">
        <ui-dialog-message
            [dialogData]="dialogData"
            [dialogContent]="dialogContent"
            (onButtonAction)="dialogClose($event)">
        </ui-dialog-message>
    </ng-container>

    <!-- inner message -->
    <div class="dialog__confirm"
        [ngClass]="{ 'dialog__confirm--open': showConfirmBox }">
        <div class="dialog__innner-overlay"
            (click)="dialogCloseConfirmInside({ action: 'close-dialog' })"></div>
        <div class="dialog__confirm-box"
            [ngClass]="{'dialog__confirm-box--open': showConfirmBox}">
            <ui-dialog-message
                *ngIf="showConfirmBox"
                [dialogData]="dialogConfirmData"
                [dialogContent]="dialogConfirmContent"
                (onButtonAction)="dialogCloseConfirmInside($event)">
            </ui-dialog-message>
        </div>
    </div>

</div>
