:host,
.layout {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-height: 100%;
}

.sidenav {
    display: flex;
    flex-direction: column;
    flex: 1;

    .mat-toolbar{
        a:hover {
            color: unset;
        }
    }

    .flex-spacer {
        flex: 1 1 auto;
    }
    &__btn-menu {
        margin-right: 16px;
    }
}

main {
    display: flex;
    justify-content: center;
    flex: 1;
    max-height: calc(100% - 64px); // 64px from header height
    height: 100%;
    width: 100%;
    padding: 0;
    overflow-y: hidden;

    h2 {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 18px;
        margin: 36px 0;
    }
    .scroll-container{
        display: flex;
        justify-content: center;
        flex: 1;
        height: 100%;
        width: 100%;
        padding: 0;
        overflow-y: auto;
    }
    section {
        width: 100%;
        max-width: 700px;
        display: flex;
        margin: 0;
        padding-bottom: 24px;
        border-bottom: 1px solid #CCC;

        &:last-child {
            border: none;
        }
        
    }
}

@media (max-width: 768px) {
    main {
        section div{
            display: flex;
            justify-content: center !important;

            button {
                margin: 8px auto;
            }
        }
    }
}

@media (max-width: 599px) {
    main {
        max-height: calc(100% - 56px); // 56px from header height
    }
}