<mat-sidenav-container class="sidenav" (backdropClick)="sidenav.close()">

  <mat-sidenav #sidenav (keydown.escape)="sidenav.close()" disableClose>
    <mat-list>
      <mat-list-item> Pepper </mat-list-item>
      <mat-list-item> Salt </mat-list-item>
      <mat-list-item> Paprika </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button class="sidenav__btn-menu" (click)="sidenav.open()">
        <mat-icon>menu</mat-icon>
      </button>

      <span>Dialog System</span>

      <span class="spacer"></span>

      <button mat-icon-button>
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>

    <main>
      CONTENT
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>