.sidenav {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;

    mat-toolbar {
        position: fixed;
    }

    .spacer {
        flex: 1 1 auto;
    }
    &__btn-menu {
        margin-right: 20px;
    }
}

main {
    width: 100%;
    height: calc(100% - 64px); // 64px from header height
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 24px;
    margin: 64px 0 0 0;
    overflow: auto;
    position: relative;


    h2 {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 18px;
        margin: 16px 0;
    }
    section {
        width: 100%;
        max-width: 700px;
        display: flex;
        margin: 0;
        padding-bottom: 24px;
        border-bottom: 1px solid #CCC;
        &:last-child {
            border: none;
        }
        
    }
}

@media (max-width: 768px) {
    main {
        section div{
            display: flex;
            justify-content: center !important;
            button {
                margin: 8px auto;
            }
        }
    }
}

@media (max-width: 599px) {
    main {
        margin-top: 56px;
        height: calc(100% - 56px); // 56px from header height
    }
}