<mat-sidenav-container class="sidenav" (backdropClick)="sidenav.close()">
  <mat-sidenav #sidenav (keydown.escape)="sidenav.close()" disableClose>
    <mat-list>
      <mat-list-item> <mat-icon>menu</mat-icon>Pepper </mat-list-item>
      <mat-list-item> <mat-icon>menu</mat-icon>Salt </mat-list-item>
      <mat-list-item> <mat-icon>menu</mat-icon>Paprika </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        mat-icon-button
        class="sidenav__btn-menu"
        (click)="sidenav.open()"
      >
        <mat-icon>menu</mat-icon>
      </button>

      <span>Dialog System</span>

      <span class="spacer"></span>

      <a
        href="https://github.com/Bombaxo/dialog-system-angular"
        mat-icon-button
        target="_blank"
        matTooltip="Code repository - Github"
      >
        <mat-icon>code</mat-icon>
      </a>
    </mat-toolbar>

    <main #overlayCustomDialogMain>

      <h3>Response of current dialog action --> <b>{{ response }}</b></h3>

      <div #overlayCustomDialogDiv>
        <section class="row">
          <h2>Alerts</h2>
          
          <div class="col-12 col-md-4 d-flex justify-content-end">
            <button mat-flat-button color="primary" (click)="openAlertStandar()">
              <mat-icon>notifications</mat-icon>
              Alert info
            </button>
          </div>
          <div class="col-12 col-md-4 d-flex justify-content-center">
            <button mat-flat-button color="warning" (click)="openAlertWarning()">
              <mat-icon>warning</mat-icon>
              Alert warning
            </button>
          </div>
          <div class="col-12 col-md-4 d-flex justify-content-start">
            <button mat-flat-button color="warn" (click)="openAlertDanger()">
              <mat-icon>report</mat-icon>
              Alert danger
            </button>
          </div>
        </section>

        <section class="row">
          <h2>Confirmation actions</h2>

          <div class="col-12 col-md-4 d-flex justify-content-end">
            <button mat-flat-button color="success" (click)="openConfirmSuccess()">
              <mat-icon>check</mat-icon>
              Confirm success
            </button>
          </div>

          <div class="col-12 col-md-4 d-flex justify-content-center">
            <button mat-flat-button color="warn" (click)="openConfirmDanger()">
              <mat-icon>report</mat-icon>
              Confirm danger
            </button>
          </div>

          <div class="col-12 col-md-4 d-flex justify-content-start">
            <button
              mat-flat-button
              (click)="openConfirmEvent()"
              color="primary"
            >
              <mat-icon>info</mat-icon>
              Confirm event
            </button>
          </div>
        </section>

        <section class="row">
          <h2>Components injection</h2>

          <div class="col-12 col-md-6 d-flex justify-content-end">
            <button mat-flat-button (click)="openFormDialog()" color="primary">
              <mat-icon>view_list</mat-icon>
              Open Form
            </button>
          </div>
          <div class="col-12 col-md-6 d-flex justify-content-start">
            <button mat-flat-button (click)="openReportDialog()" color="primary">
              <mat-icon>feed</mat-icon>
              Open Report
            </button>
          </div>
        </section>

        <section class="row">
          <h2>Dialog confirm inside dialog</h2>

          <div class="col-12 col-md-4 d-flex justify-content-end">
            <button mat-flat-button color="success" (click)="openTimeSlotInnerDialog('success')">
              <mat-icon>check</mat-icon>
              Inner success
            </button>
          </div>

          <div class="col-12 col-md-4 d-flex justify-content-center">
            <button mat-flat-button color="warn" (click)="openTimeSlotInnerDialog('error')">
              <mat-icon>report</mat-icon>
              Inner danger
            </button>
          </div>

          <div class="col-12 col-md-4 d-flex justify-content-start">
            <button
              mat-flat-button
              (click)="openTimeSlotInnerDialog('info')"
              color="primary"
            >
              <mat-icon>info</mat-icon>
              Inner info
            </button>
          </div>
        </section>

        <section class="row">
          <h2>Custom dialog overlay </h2>
          <div class="col-12 col-md-3 d-flex justify-content-end">
            <button mat-flat-button color="primary" (click)="openFreemiunCustomDialog()">
              <mat-icon>branding_watermark</mat-icon>
              Fremiun blury
            </button>
          </div>

          <div class="col-12 col-md-3 d-flex justify-content-center">
            <button mat-flat-button color="primary" (click)="openAvailabilitiesCustomDialog()">
              <mat-icon>branding_watermark</mat-icon>
              Availabilities
            </button>
          </div>

          <div class="col-12 col-md-3 d-flex justify-content-center">
            <button mat-flat-button color="primary" (click)="openMessageCustomDialog()">
              <mat-icon>branding_watermark</mat-icon>
              Message 
            </button>
          </div>
          
          <div class="col-12 col-md-3 d-flex justify-content-start">
            <button mat-flat-button color="primary" (click)="openMessageBlockedCustomDialog()">
              <mat-icon>branding_watermark</mat-icon>
              Message blury
            </button>
          </div>
        </section>
      </div>

    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
