<div class="dialog" [ngSwitch]="templateType">
    <button *ngIf="showCloseIcon"
            mat-dialog-close
            tw-link-button
            color="primary"
            data-test="test-dialog-close">
        <i nz-icon nzType="close" nzTheme="outline"></i>
    </button>

    <!-- component -->
    <ng-container *ngSwitchCase="'component'">
      <ng-container *ngComponentOutlet="dialogData.component"></ng-container>
    </ng-container>

    <!-- message -->
    <ng-container *ngSwitchCase="'message'">
        <ui-dialog-message
            [dialogData]="dialogData"
            [dialogContent]="dialogContent"
            (onButtonAction)="dialogClose($event)">
        </ui-dialog-message>
    </ng-container>

    <div class="dialog__confirm"
        [ngClass]="{ 'dialog__confirm--open': showConfirmBox }"
        data-test="test-dialog-confirm-inside">
        <div class="dialog__innner-overlay"
            (click)="dialogCloseConfirmInside({ action: 'close-dialog' })"
            data-test="test-dialog-inside-overlay"></div>
        <div class="dialog__confirm-box"
            [ngClass]="{'dialog__confirm-box--open': showConfirmBox}">
            <ui-dialog-message
                *ngIf="showConfirmBox"
                [dialogData]="dialogConfirmData"
                [dialogContent]="dialogConfirmContent"
                (onButtonAction)="dialogCloseConfirmInside($event)">
            </ui-dialog-message>
        </div>
    </div>

</div>
