.dialog-message {
    &__header {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        position: relative;

        h2 {
            font-size: 18px;
            line-height: 18px;
            text-align: center;
            margin-top: 10px;
        }

        img {
            max-height: 80px;
            margin-bottom: 20px;
        }
    }

    &__content {
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 0;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        padding: 16px 0 0 0;

        p {
            text-align: center;
            margin: 0 0 16px;
            font-size: 15px;
            line-height: 16px;
        }

        mat-dialog-actions {
            justify-content: center;
            gap: 16px;
            padding: 0;
            margin: 0;
            width: 100%;

            button {
                min-width: 145px;
            }
        }
    }
}

@media (max-width: 756px) {
    .dialog-message {
        mat-dialog-actions {
            button {
                min-width: 120px;
            }
        }
    }
}

@media (max-width: 320px) {
    .dialog-message {
        mat-dialog-actions {
            flex-direction: column-reverse;

            button {
                min-width: unset;
                width: 100%;
            }
        }
    }
}
