
<div class="dialog-message">
    <div class="dialog-message__header">
        <img *ngIf="dialogContent?.image"
            [src]="'/assets/imgs/' + dialogContent?.image" />
        <h2 *ngIf="dialogContent?.title">{{ dialogContent?.title }}</h2>
    </div>

    <mat-dialog-content class="dialog-message__content">

        <div *ngIf="dialogContent?.content">
            <ng-container *ngFor="let el of dialogContent?.content; let count = index">
                <p>{{ el }}</p>
            </ng-container>
        </div>

        <mat-dialog-actions>
            <button *ngIf="dialogContent?.secondaryButton?.label"
                    mat-button
                    [class]="dialogContent?.secondaryButton?.size || 'md'"
                    [color]="dialogContent?.secondaryButton?.color || 'primary'"
                    (click)="onButtonAction.emit({ action: dialogContent?.secondaryButton?.action || 'close-dialog' })">
                <mat-icon *ngIf="dialogContent?.secondaryButton?.icon">{{ dialogContent?.secondaryButton?.icon }}</mat-icon>
                {{ dialogContent?.secondaryButton?.label }}
            </button>
            <button mat-flat-button
                    [class]="dialogContent?.primaryButton?.size || 'md'"
                    [color]="dialogContent?.primaryButton?.color || 'primary'"
                    (click)="onButtonAction.emit({ action: dialogContent?.primaryButton?.action })">
                <mat-icon *ngIf="dialogContent?.primaryButton?.icon">{{ dialogContent?.primaryButton?.icon }}</mat-icon>
                {{ dialogContent?.primaryButton?.label }}
            </button>
        </mat-dialog-actions>
    </mat-dialog-content>
</div>
