// Importing `Work Sans` font for headings, you can change this if you want
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500&display=swap");

$theming-primary: mat-palette($mat-indigo);
$theming-accent: mat-palette($mat-pink, A200, A100, A400);
$theming-warn: mat-palette($mat-red);

$theming-material: mat-light-theme(
    mat-palette($mat-indigo),
    mat-palette($mat-pink, A200, A100, A400),
    mat-palette($mat-red)
);
